Node-Red Flow/flows (2).json
[
    {
        "id": "34bce5d965edf6c0",
        "type": "group",
        "z": "302ee1555e81a621",
        "name": "Login Page",
        "style": {
            "label": true
        },
        "nodes": [
            "8b80c5e301ee7104",
            "5f5f53adfe35992e",
            "10002f6009fad604"
        ],
        "x": 288,
        "y": 133,
        "w": 1304,
        "h": 594
    },
    {
        "id": "8b80c5e301ee7104",
        "type": "group",
        "z": "302ee1555e81a621",
        "g": "34bce5d965edf6c0",
        "name": "Username - Password",
        "style": {
            "label": true,
            "color": "#ff3f3f"
        },
        "nodes": [
            "8eee9682de465be1",
            "5f6f888b73482eba",
            "ca2ae896d037032c",
            "6db3a466a78551cd",
            "104977370e2ea0ec",
            "5d4d6aac808fb516",
            "174d042bd472bbc5",
            "b5db1774c0a74167",
            "e5a0132fdbc2315f",
            "85e528148d25c523",
            "239f693226af18b8",
            "6b2bf06cc749e546",
            "1acc1fec23ec2458"
        ],
        "x": 324,
        "y": 159,
        "w": 1182,
        "h": 322
    },
    {
        "id": "8eee9682de465be1",
        "type": "ui_text_input",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Username",
        "label": "Username",
        "tooltip": "",
        "group": "aad47b45693bfedd",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "Username",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 630,
        "y": 340,
        "wires": [
            [
                "ca2ae896d037032c"
            ]
        ]
    },
    {
        "id": "5f6f888b73482eba",
        "type": "ui_text_input",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Password",
        "label": "Password",
        "tooltip": "",
        "group": "aad47b45693bfedd",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": true,
        "mode": "password",
        "delay": 300,
        "topic": "Password",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 620,
        "y": 380,
        "wires": [
            [
                "ca2ae896d037032c"
            ]
        ]
    },
    {
        "id": "ca2ae896d037032c",
        "type": "function",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Validate Credentials",
        "func": "var username = flow.get(\"username\") || \"\";\nvar password = flow.get(\"password\") || \"\";\n\n\nif (msg.topic === \"Username\") {\n    username = msg.payload;\n    flow.set(\"username\", username);\n}\n\nif (msg.topic === \"Password\") {\n    password = msg.payload;\n    flow.set(\"password\", password);\n}\n\nif (msg.topic === \"Submit\" && msg.payload == true)\n    {\n    if ((username === \"admin\" && password === \"admin\") || (username === \"mo\" && password === \"123456\")) {\n\n         msg.enabled = true;\n         msg.payload = true;\n         \n    } \n    else \n    {\n        msg.enabled = false;\n        msg.payload = false;\n        msg.background = \"grey\";\n    }\n    \n    }\n    else{\n            msg.payload = null;\n    }\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 380,
        "wires": [
            [
                "104977370e2ea0ec",
                "5d4d6aac808fb516",
                "174d042bd472bbc5",
                "6db3a466a78551cd",
                "e5a0132fdbc2315f",
                "6b2bf06cc749e546",
                "32d1b001176a0559"
            ]
        ]
    },
    {
        "id": "6db3a466a78551cd",
        "type": "debug",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 430,
        "wires": []
    },
    {
        "id": "104977370e2ea0ec",
        "type": "function",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Username",
        "func": "var username = flow.get(\"username\") || \"\";\n\nif (msg.payload == true) {\n    msg.payload = username;\n}\nelse msg.payload = \" \";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 360,
        "wires": [
            [
                "1acc1fec23ec2458"
            ]
        ]
    },
    {
        "id": "5d4d6aac808fb516",
        "type": "ui_led",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "order": 1,
        "group": "e34dc0f7.34277",
        "width": 2,
        "height": 1,
        "label": "",
        "labelPlacement": "left",
        "labelAlignment": "center",
        "colorForValue": [
            {
                "color": "#ff1414",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#00ff7b",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": false,
        "name": "",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "174d042bd472bbc5",
        "type": "function",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "check",
        "func": "\n\nif (msg.payload == true) {\n    msg.enabled = true;\n    \n} else if(msg.payload == false)   {\n    msg.enabled = false;\n    msg.background = \"grey\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 300,
        "wires": [
            [
                "85e528148d25c523"
            ]
        ]
    },
    {
        "id": "b5db1774c0a74167",
        "type": "ui_toast",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": true,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1410,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "e5a0132fdbc2315f",
        "type": "function",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Topic to Notif",
        "func": "if (msg.payload === true){\n    msg.topic = \"Login successful!\";\n    msg.payload = \" \";\n    return msg;\n\n}\nelse if (msg.payload === false) \n{ \n    msg.payload = \" \";\n    msg.topic = \"Login Failed, Try Again!\";\n    return msg;\n}\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 200,
        "wires": [
            [
                "b5db1774c0a74167"
            ]
        ]
    },
    {
        "id": "85e528148d25c523",
        "type": "ui_button",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Logout",
        "group": "e34dc0f7.34277",
        "order": 2,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Logout",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "",
        "topicType": "str",
        "x": 410,
        "y": 400,
        "wires": [
            [
                "8eee9682de465be1",
                "5f6f888b73482eba"
            ]
        ]
    },
    {
        "id": "239f693226af18b8",
        "type": "ui_button",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Submit Button",
        "group": "aad47b45693bfedd",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "Submit",
        "topicType": "str",
        "x": 620,
        "y": 280,
        "wires": [
            [
                "ca2ae896d037032c"
            ]
        ]
    },
    {
        "id": "6b2bf06cc749e546",
        "type": "function",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "name": "Null == false",
        "func": "\nif (msg.payload == null){\n    msg.payload = false;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 440,
        "wires": [
            [
                "31624f92eeb8efee"
            ]
        ]
    },
    {
        "id": "1acc1fec23ec2458",
        "type": "ui_text",
        "z": "302ee1555e81a621",
        "g": "8b80c5e301ee7104",
        "group": "e34dc0f7.34277",
        "order": 6,
        "width": 2,
        "height": 1,
        "name": "",
        "label": "",
        "format": "<font color=#90713c><font size = 5>{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1370,
        "y": 360,
        "wires": []
    },
    {
        "id": "aad47b45693bfedd",
        "type": "ui_group",
        "name": "Login",
        "tab": "f4a280b3.9a702",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "e34dc0f7.34277",
        "type": "ui_group",
        "name": "Controls",
        "tab": "f4a280b3.9a702",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f4a280b3.9a702",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5f5f53adfe35992e",
        "type": "group",
        "z": "302ee1555e81a621",
        "g": "34bce5d965edf6c0",
        "name": "Show/hide Group",
        "style": {
            "label": true
        },
        "nodes": [
            "7cf17473d4fb053b",
            "75bac2f2fe7bad90",
            "2aa44749e54dde71",
            "31624f92eeb8efee"
        ],
        "x": 314,
        "y": 539,
        "w": 532,
        "h": 122
    },
    {
        "id": "7cf17473d4fb053b",
        "type": "ui_ui_control",
        "z": "302ee1555e81a621",
        "g": "5f5f53adfe35992e",
        "name": "",
        "events": "all",
        "x": 760,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "75bac2f2fe7bad90",
        "type": "change",
        "z": "302ee1555e81a621",
        "g": "5f5f53adfe35992e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Home_Controls\",\"Home_Monitor\",\"Home_Security\"],\"hide\":[\"Home_Login\",\"Home_Contact\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 580,
        "wires": [
            [
                "7cf17473d4fb053b"
            ]
        ]
    },
    {
        "id": "2aa44749e54dde71",
        "type": "change",
        "z": "302ee1555e81a621",
        "g": "5f5f53adfe35992e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"group\":{\"show\":[\"Home_Login\",\"Home_Contact\"],\"hide\":[\"Home_Controls\",\"Home_Monitor\",\"Home_Security\"]}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 620,
        "wires": [
            [
                "7cf17473d4fb053b"
            ]
        ]
    },
    {
        "id": "31624f92eeb8efee",
        "type": "switch",
        "z": "302ee1555e81a621",
        "g": "5f5f53adfe35992e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 600,
        "wires": [
            [
                "75bac2f2fe7bad90"
            ],
            [
                "2aa44749e54dde71"
            ]
        ]
    },
    {
        "id": "10002f6009fad604",
        "type": "group",
        "z": "302ee1555e81a621",
        "g": "34bce5d965edf6c0",
        "name": "Alarms",
        "style": {
            "label": true
        },
        "nodes": [
            "32d1b001176a0559",
            "412e21ee0aa8d0ab",
            "8b31b94fbeb6e09d",
            "440769bc39b1bd46"
        ],
        "x": 924,
        "y": 519,
        "w": 642,
        "h": 182
    },
    {
        "id": "32d1b001176a0559",
        "type": "function",
        "z": "302ee1555e81a621",
        "g": "10002f6009fad604",
        "name": "if false 5 times play alarm and disable login for 5min. and send mail for this",
        "func": "// Initialize the counter if not already defined\nvar counter = flow.get(\"counter\") || 0;\n\nif (msg.payload === false) {\n    counter = counter + 1;\n} else if (msg.payload === true) {\n    counter = 0;\n}\n\n// Store the updated counter value in flow context\nflow.set(\"counter\", counter);\n\nif (counter >= 5) {\n    msg.payload = \"HHHHHHH\";\n    msg.topic = \"Hacking\";\n    return msg;\n}\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 560,
        "wires": [
            [
                "412e21ee0aa8d0ab",
                "440769bc39b1bd46"
            ]
        ]
    },
    {
        "id": "412e21ee0aa8d0ab",
        "type": "debug",
        "z": "302ee1555e81a621",
        "g": "10002f6009fad604",
        "name": "debug 38",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 640,
        "wires": []
    },
    {
        "id": "8b31b94fbeb6e09d",
        "type": "e-mail",
        "z": "302ee1555e81a621",
        "g": "10002f6009fad604",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "Mail",
        "x": 1330,
        "y": 660,
        "wires": []
    },
    {
        "id": "440769bc39b1bd46",
        "type": "function",
        "z": "302ee1555e81a621",
        "g": "10002f6009fad604",
        "name": "write email",
        "func": "\n        var now = new Date();\n        var yyyy = now.getFullYear();\n        var mmm = now.getMonth() < 9 ? \"0\" + (now.getMonth() + 1) : (now.getMonth() + 1);\n        var dd = now.getDate() < 10 ? \"0\" + now.getDate() : now.getDate();\n        var hh = (new Date(new Date().getTime() + 60 * 60 * 1000)).getHours().toString().padStart(2, \"0\");\n\n        //var hh = now.getHours() < 10 ? \"0\" + now.getHours() : now.getHours();\n        var mm = now.getMinutes() < 10 ? \"0\" + now.getMinutes() : now.getMinutes();\n        var ss = now.getSeconds() < 10 ? \"0\" + now.getSeconds() : now.getSeconds();\n        //***** */\n        var d = new Date();     // create current date object for the time string\n        var tstring = d.toString().substring(0,4) + d.toString().substring(15,21);\n\n        /** */  \n        msg.topic = \"Hacker To System\";\n        msg.payload = \"There was a hacking to your system\" + \"!\" + \"\\n\" +\"Occurred on \" + yyyy + '/' + mmm + '/' + dd + ' - ' + hh + ':' + mm + ':' + ss ;\n        return msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 660,
        "wires": [
            [
                "8b31b94fbeb6e09d"
            ]
        ]
    }
]
